.products-main {
    margin-top: 1rem;
}

.products-title {
    font-size: 2rem;
}



.add-products-form-wrap {
    background: var(--white);
    margin-top: 1rem;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 15px;
    margin-bottom: 1rem;
    overflow: auto;
}

.add-products-form-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #f4f4f4;
    padding: 0 20px;
    border-radius: 10px;
}

.add-products-input {
    outline: none;
    border: none;
    background: unset;
    padding: 8px 10px;
    font-size: 1.1rem;
}
.add-products-submit-container{
    display: flex;
    justify-content: end;
}
.add-products-submit {
    background-color: var(--blue);
    color: var(--white);
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    
}